.tui-component-virtual-scroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.tui-component-virtual-scroll-item-wrapper {
    overflow-y: hidden;
    width: 100%;
}

.tui-component-virtual-scroll-item {
    width: 100%;
    overflow:hidden;
}
